*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  height: 100%;
  max-width: 1144px;
  max-height: 534px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}

h1 span {
  color: #545050;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  cursor: default;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  cursor: default;
}

.content__list {
  max-height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
  height: 534px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 4px;
}



.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  height: 30px;
  padding-top: 10px;
}

.result__video-container {
  width: 711px;
  height: 403px;
  padding-bottom: 16px;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card:focus-visible {
  border: 1px solid #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__card-link_current:active {
  background: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  width: 225px;
  height: 27px;
  font-family: inherit;
  color: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: transparent;
  border-right: transparent;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:checked {
  border: 1px solid #fff;
}

fieldset h2 {
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  padding: 1px;
  position: relative;
  flex-direction: row;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  padding-left: 1px;
  padding-top: 1px;
}

.button {
  color: #fff;
  text-align: center;
  background-color: transparent;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.more-button {
  width: 380px;
  height: 34px;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
